$color_QuestionBackground:rgb(0,32,45);
$color_OptionChosenBackground:rgb(240, 180, 69);
$color_OptionWasCorrectBackground:rgb(0,51,31);
$color_BorderColorOfOptions:rgb(1,126,192);
$color_OptionHoverBackground:rgb(240, 180, 69);
$color_TextColor:white;
$color_BoardAnimationColorStart:rgba(240, 180, 69,0.3);
$color_BoardAnimationColorEnd:rgba(240, 180, 69,1.0);
