@use './colors';
@use './basicPageProp';

@mixin dimensionsAndPosition($w,$h,$p){
    width:$w;
    height:$h;
    position:$p;
    }
@mixin displayFlexAndItsProperties($flexDirection,$justifyC,$alignI){
    display:flex;
    flex-direction: $flexDirection;
    justify-content: $justifyC;
    align-items: $alignI;
}
%borderProperties{
    border:1px solid grey;
    
    
}
%linesOfQuestions{
    &::before{
        content:"";
        @include dimensionsAndPosition(100%,1em,absolute);
        color:grey;
        pointer-events: none;      
    }
}
main{
@include dimensionsAndPosition(100%,100%,relative);
}

#theQuizUI{
@include displayFlexAndItsProperties(column,center,center);
}

#scorePanel{
 @include dimensionsAndPosition(50%,50%,relative);
}

#scorePanel > div{
    @include displayFlexAndItsProperties(row,center,center);
}
#questionPanel{
   @include dimensionsAndPosition(50%,50%,relative);
   @include displayFlexAndItsProperties(column,center,center);
    display:flex;
}

#theQuestion{
    padding:1em;
}

#theOptions{
    @include dimensionsAndPosition(100%,100%,relative);
   
    &__AB{
        @extend %linesOfQuestions;
        @include dimensionsAndPosition(100%,100%,relative);
        @include displayFlexAndItsProperties(row,center,center);
        &__A{
            
        }
        &__B{
           
        }       
    }
    &__CD{
        @extend %linesOfQuestions;
        @include dimensionsAndPosition(100%,100%,relative);
        @include displayFlexAndItsProperties(row,center,center);
        &__C{
          
        }
        &__D{
            
        }
    }
}

.qOption{
    padding:0.5em;
    width:50%;
    @include displayFlexAndItsProperties(row,center,center);
    @extend %borderProperties;
        &:hover{
            background-color:colors.$color_OptionHoverBackground;
        }
        &:before{
            content:"";
            @include dimensionsAndPosition(0.8em,0.8em,absolute);
            background-color:blue;
            transform:rotate(45deg);
            
        }
}