@use './vars/colors';
@use './vars/paths';
@use './vars/mixins';
@use './vars/extends';

html{
height: 100%;
width:100%;
overflow-x:hidden;
}

html,body{
padding:0;
margin:0;
}

body{
min-height:100%;
overflow-x:hidden;
height:100%;
background-color: black;
}

*{
    box-sizing: border-box;
}

main{
    min-height:100%;
    @include mixins.dimensionsAndPosition(100%,auto,relative);
    @include mixins.displayFlexAndItsProperties(column,center,center);
    @include mixins.backgroundProps(paths.$imgPath+"athTbg.jpg",auto,no-repeat,cover);
    }
    
#theQuizUI{   
@include mixins.dimensionsAndPosition(80%,auto,relative);
@include mixins.displayFlexAndItsProperties(column,center,center);
}

