@use './vars/colors';
@use './vars/paths';
@use './vars/mixins';
@use './vars/extends';


#scorePanel{
    @include mixins.dimensionsAndPosition(90%,50%,relative);    
        border:5px solid colors.$color_BorderColorOfOptions;
        border-radius:30px 30px 30px 0px;
        overflow: hidden;
       
   }

#scorePanel > div{
    color:colors.$color_TextColor;
    position: relative;
   
    @include mixins.displayFlexAndItsProperties(row,center,center);
    & *:first-child{
        @include mixins.displayFlexAndItsProperties(row,center,center);
        @include mixins.dimensionsAndPosition(2em,100%,absolute);
        left:0%;
      
    }
    & *:nth-child(2){
        width:2em;
        position:absolute;
        @include mixins.displayFlexAndItsProperties(row,center,center);
        left:calc(20% + 2em);
    }
    & *:nth-child(3){
        @include mixins.displayFlexAndItsProperties(row,center,center);
        @include mixins.dimensionsAndPosition(100%,100%,relative);
        
        padding:0.3em;
  
    }
    
    padding-left:2em;
}
//classes to be added in the border subdivs , they are seperated because >div gives priority to them
//(perhaps I should have added classes from the start to get it done...css give me a headache with those priorities semantics
.m1_BorderInitialProps{
    background-color:rgba(0,0,0,0.8) ;
}

.n1_BorderInitialColor{
    border: {
        left:4px solid colors.$color_BorderColorOfOptions;
        right:4px solid colors.$color_BorderColorOfOptions;
        background-color: rgba(0,0,0,0.5);
    } 
}

@keyframes curBoardAnimation {
    0%, 100% {
        background-color:colors.$color_BoardAnimationColorStart;
    }
    50% {
        background-color:colors.$color_BoardAnimationColorEnd;
    }
  }

.BorderRightColor{
    &Current{
        border-right-color:rgba(0,0,0,0.0);
    }
    &Previous{
        border-right-color:colors.$color_OptionWasCorrectBackground;
        background-color:colors.$color_OptionWasCorrectBackground;
    }
    
}
.previousStageBackground{
    background-color:colors.$color_OptionWasCorrectBackground;
}
.curStageBackground{
    animation: {
        name:curBoardAnimation;
        iteration-count: infinite;
        duration:5s;
      }
}